:root {
    --bg-color: #1D1B1D;
    --font-color: rgb(255, 255, 255);
    --alt-color: rgba(175, 175, 175, 0.596);
    --link-color: #c0bda5;
    --visited-color: #c0bda5;
    --pre-color: #000000;
    --pre-bg-color: #f0f0f0;
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font: 14px/1.5 monospace;
    color: var(--font-color);
    background: var(--bg-color);
}

a:link {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--visited-color);
}

a:active {
    color: var(--visited-color);
}

a:focus {
    outline: 2px dotted var(--link-color);
}

h1,
h2,
h3 {
    line-height: 1.2;
}

p > code {
    color: var(--pre-color);
    background: var(--pre-bg-color);
    padding: 2px;
}

pre {
    color: var(--pre-color);
    background: var(--pre-bg-color);
    padding: 24px;
    overflow-x: auto;
}

article {
    padding: 24px 0;
}

summary {
    color: var(--alt-color);
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table {
    border-radius: 10px;
}

th {
    background-color: var(--alt-color);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.sidebar {
    width: 300px;
    padding: 20px;
}

.toc {
    position: fixed;
    left: 20px; /* Adjust this value to fit your design */
    top: 50%; /* Adjust this value to position it vertically */
    transform: translateY(-50%);
    font-size: small;
}

/* Media query for smaller screens */
@media (max-width: 1900px) {
    .toc {
        position: static; /* Change position to static for smaller screens */
        transform: translateY(0);
    }
}

figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}

figure {
    margin: auto;
}

img {
    display: block;
    max-width: 95%;
    border-radius: 10px;
    object-fit: cover;
    height: auto;
    margin: auto;
}

video {
    display: block;
    max-width: 95%;
    border-radius: 10px;
    object-fit: cover;
    height: auto;
    margin: auto;
}

#date {
    font-style: normal;
    font-weight: bolder;
    color: var(--alt-color);
}

header[role="main"] nav {
    ol,
    ul {
        list-style: none;
        padding: 10px;
        margin: 10px;
        li {
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
}

li.sideline {
    border-left: 3px solid var(--alt-color);
    padding-left: 15px;
    list-style: none;
}

.icon {
    padding-right: 7px;
}

.meta {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;

        &:not(:last-child)::after {
            content: " \00b7";
        }
    }
}

.item .meta {
    font-size: 12px;
    display: inline-block;
    opacity: 75%;
}

.item-more {
    list-style: none;
}

.callout {
    padding: 1em;
    color: var(--pre-color);
    background: var(--pre-bg-color);
}

footer {
    font: 12px/1.5 monospace;
    margin-top: 24px;
    padding: 14px;
    background-color: rgb(38, 39, 44);
    color: var(--alt-color);
    border-radius: 10px;
}